.centredContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10vh;
    min-height: 90vh;
    font-family: 'Roboto Mono', monospace;
}


@media (max-height: 400px){
    .centredContent{
        margin-top: 40px;
        min-height: calc(100vh - 40px);
    }
}